* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #eb4c67;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

p {
    max-width: 20rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}

.bg {
    background-image: url(../images/fundo-tarefa-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 800px;
    box-shadow: inset 0 0 0 2000px #eb4c6633;
    box-sizing: border-box;
}

#lista {
    display: flex;
    background-color: white;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

li {
    max-width: 20rem;
    color: white;
    background-color: #aa4657;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
}

li:hover {
    cursor: pointer;
}

.inputBox {
    margin-bottom: 10px;
}

#tarefa {
    height: 1rem;
    padding: 5px;
    border-radius: 10px;
}

#hora {
    height: 1.5rem;
    border-radius: 10px;
}

.btn {
    color: white;
    background-color: #eb4c67;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    padding: 20px;
    background-color: #eb4c67;
    text-align: center;
}